<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997597014837-ppoac9alkm74ufogrg4cacur2ka3t5tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997597014837-ppoac9alkm74ufogrg4cacur2ka3t5tu</string>
	<key>API_KEY</key>
	<string>AIzaSyDRTy-jzb3h9CG32YQJ88M1Re4M8YALxDc</string>
	<key>GCM_SENDER_ID</key>
	<string>997597014837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.carttogo</string>
	<key>PROJECT_ID</key>
	<string>carttogo-411c2</string>
	<key>STORAGE_BUCKET</key>
	<string>carttogo-411c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997597014837:ios:dbccd97eb810046cd83a7c</string>
	<key>DATABASE_URL</key>
	<string>https://carttogo-411c2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>